:root {
	/* VALUES */
	--font-header: 28pt;
	--font-body: 10.5pt;

	--page-height: 11in;
	--page-width: 8.5in;

	--spacing-xxs: 2px;
	--spacing-xs: 4px;
	--spacing-s: 6px;
	--spacing-m: 8px;
	--spacing-lg: 10px;
	--spacing-xl: 12px;
	--spacing-xxl: 14px;

	--opacity-s: 0.78;
	--opacity-m: 0.66;

	--bg: #fafafc;
	--font-color: var(--text-body);

	--text-fun: #0800a4;
	--text-body: #1e1e2e;
	--text-link: #1616df;
	--text-link-hover: #000079;
}
