/* @import url('./_variables.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    @apply text-body;
    @apply text-font;
    @apply bg-bg;
  }
  a {
    @apply text-link;
    &:hover {
      @apply text-link-hover;
    }
  }
  
  p,a,li {
    @apply md:leading-tight;
  }
  h2 {
    @apply leading-snug;
  }

  @media print {
    html {
      height: theme(height.A4);
      width: theme(maxWidth.A4);
      overflow: hidden;
    }
  }
}

